@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #00FFFF;
}

.container{
  padding: 10px 50px;
}

a.gmail {
  margin: 0 1rem;
  color: black;
  font-family: "Verdana", sans-serif;
  transition: transform 250ms;
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

a.gmail:hover{
  transform: translateY(-2px);
}

.social-container {
  background: #292929;
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.github {
  color: white;
}

a.linkedin {
  color: white;
}

a.instagram {
  color: white;
}

.social-container1 {
  background: white;
  padding: 25px 50px;
}

a.social1 {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social1:hover {
  transform: translateY(-2px);
}

a.github1 {
  color: black;
}

a.linkedin1 {
  color: black;
}

a.instagram1 {
  color: black;
}